<div class="alert alert-error" ng-show="err"><strong>{{err.msg}}: </strong>{{err.url}}</div>

<div class="alert" ng-show="loading">Loading...</div>

<div ng-show="feed">
   <h3>
      <a ng-show="feed.title" href="#!{{feed._links.self[0].attr('href')}}">{{feed.title}}</a>
   </h3>

   <p>Updated: <em>{{feed.updated | date}}</em></p>

   <a ng-show="!srcview" class="btn btn-mini" ng-click="toggleSrcView() && prettyPrint();">
      <i class="icon-circle-arrow-right"></i>
      <em>view source</em>
   </a>
   <a ng-show="srcview" class="btn btn-mini" ng-click="toggleSrcView();">
      <i class="icon-circle-arrow-down"></i>
      <em>hide source</em>
   </a>

   <p><pre ng-show="srcview" class="prettyprint pre-scrollable" ng-show="xml">{{xml}}</pre></p>
</div>

<div class="hidden-phone" ng-show="opensearch">
   <hr/>
   <ul class="pager">
      <li class="previous" ng-show="feed._links.prev">
         <a href="#!{{feed._links.prev[0].attr('href')}}">&larr; Previous</a>
      </li>
      <li>
         <button ng-show="detailview" class="btn btn-mini" ng-click="toggleDetailView()">view summary</button>
         <button ng-show="!detailview" class="btn btn-mini" ng-click="toggleDetailView()">view detail</button>
         <em>{{opensearch.results}} results - {{opensearch.perpage}} items per page - Page {{opensearch.current}} / {{opensearch.total}}</em>
      </li>
      <li class="next" ng-show="feed._links.next">
         <a href="#!{{feed._links.next[0].attr('href')}}">Next &rarr;</a>
      </li>
   </ul>
</div>

<div ng-show="feed && !detailview && opensearch">
   <table ng-show="feed.entry.length > 0" class="table table-condensed table-bordered table-striped">
      <thead>
         <tr>
            <th>ID</th>
            <th>Title</th>
         </tr>
      </thead>
      <tbody>
         <tr ng-repeat="entry in feed.entry">
            <td class="span2">{{entry.id | feedid}}</td>
            <td class="span8"><a href="#!{{entry._links.alternate[0].attr('href')}}">{{entry.title}}</a></td>
         </tr>
      </tbody>
   </table>
</div>

<div ng-show="feed && (detailview || !opensearch)">
   <hr/>
   <div ng-repeat="entry in feed.entry">
     <div class="row">
        <div class="span5">
           <h4>
              {{opensearch.offset + $index +1}}.
              <span class="label label-info">{{entry.category.attr('term')}}</span>
              <a ng-show="entry._links.alternate" href="#!{{entry._links.alternate[0].attr('href')}}" ng-bind-html-unsafe="entry.title"></a>
              <span ng-show="!entry._links.alternate" ng-bind-html-unsafe="entry.title"></span>
           </h4>
   
           <p/>
           <p>Author: <em>{{entry.author.name}}</em></p>
           <p ng-show="entry.summary">Description: <em>{{entry.summary}}</em></p>
   
           <div class="btn-toolbar">
              <div ng-repeat="link in entry._links.related" class="btn-group">
                 <a ng-show="link.external" target="_blank" class="btn" href="{{link.attr('href')}}">{{link.attr('title')}}</a>
                 <a ng-show="!link.external" class="btn" href="#!{{link.attr('href')}}">{{link.attr('title')}}</a>
              </div>
           </div> 
        </div>
        <div class="span7 hidden-phone">
           <table class="table table-condensed table-striped" ng-repeat="(mName, module) in entry._modules">
              <thead>
                 <tr>
                    <th colspan="2"><h6>{{mName}} module</h6></th>
                 </tr>
              </thead>
              <tbody>
                 <tr ng-repeat="(key, value) in module">
                    <td class="span3">{{key | capitalize}}</td>
                    <td class="span4"><em>{{value}}</em></td>
                 </tr>
              </tbody>
           </table>
        </div>
     </div>
     <div class="row">
        <p ng-show="entry.content" class="span12" ng-bind-html-unsafe="entry.content"></p>
     </div>
     <hr/>
   </div>
</div>
